
<launch>
  <!-- differential_teleop_key already has its own built in velocity smoother -->
  <node pkg="niubot_control" type="diff_wheeled_robot_key.py" name="diff_wheeled_robot_key"  output="screen">

    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="niubot/cmd_vel" to="/cmd_vel"/>

  </node>
</launch>
